<!--
File: voter_analytics/graph.html
Author: Jose Maria Amusategui Garcia Peri (jmamus@bu.edu) 8/11/2024
Description: Template to show graphs all voter data with filtering options
-->


{% extends 'voter_analytics/base.html' %}
{% block content %}
<div>
    {% include 'voter_analytics/graph_search.html' with og_dob_list=og_dob_list %}
</div> 
<h1>Graphs</h1>

<div>
    <h3>Voter distribution by Year of Birth</h3>
    {{bar_div|safe}}
</div>

<div>
    <h3>Voter distribution by Party Affiliation</h3>
    {{pie_div|safe}}
</div>

<div>
    <h3>Vote Count by Election</h3>
    {{hist_div|safe}}
</div>
{% endblock %}