{% load static %}
<!--
File: project/base.html
Author: Jose Maria Amusategui Garcia Peri (jmamus@bu.edu) 05/12/2024
Description: base template for project app, providing a header, nav, and footer
-->

<html>
    <head>
        <link rel="stylesheet" href={% static "project/styles.css"%}/>
        <title>Cheers! Analytics</title>
    </head>
    <body>
        <header>
            <h1><em><strong>Jose's Cheers! Analytics</strong></em></h1>
        </header>
        <nav>
            <a class="anti-link" href="{% url 'orders' %}">
                <button class="reg-button">Orders</button>
                </a> 
            <a class="anti-link" href="{% url 'music' %}">
            <button class="reg-button">Music</button>
            </a>
            <a class="anti-link" href="{% url 'graphs' %}">
            <button class="reg-button">Graphs</button>
            </a>
        </nav>

        {% if request.user.is_authenticated %}
        
        <p>User: {{request.user}}</p>

        <form action="{% url 'logout' %}" method="post" class="logout">
            {% csrf_token %}
            <button type="submit" class="reg-button">Logout</button>
        </form>
        {% else %}
        <p>Unauthenticated</p>
        <a class="reg-button" href="{% url 'login' %}">Login</a>
        {% endif %}

        {% block content %}
        {% endblock %}
        <footer>
            <p> All Rights Reserved by Cheers Technologies SL <a href="https://cheersapp.es/terms-conditions.html" target="_blank">Credits</a> &copy;</p>
        </footer>
    </body>
</html>