{% load static %}
<!--
File: mini_fb/base.html
Author: Jose Maria Amusategui Garcia Peri (jmamus@bu.edu) 04/10/2024
Description: base template for mini_fb app, providing a header, nav, and footer
-->

<html>
    <head>
        <link rel="stylesheet" href={% static "mini_fb/styles.css"%}/>
        <title>mini_fb | JMA</title>
    </head>
    <body>
        <header>
            <h1><strong>Jose's Facebook</strong></h1>
            <p><em>Welcome to my mini facebook!</em></p>
        </header>
        <nav>
            <a href="{% url 'show_all_profiles' %}">Show all</a>
            <a href="{% url 'create_profile' %}">Create Profile</a>  
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
            <p> All Rights Reserved by Jose Maria Amusategui Garcia Peri <a href="https://cheersapp.es/terms-conditions.html" target="_blank">Credits</a> &copy;</p>
        </footer>
    </body>
</html>