{% load static %}
<!--
File: mini_fb/base.html
Author: Jose Maria Amusategui Garcia Peri (jmamus@bu.edu) 04/10/2024
Description: base template for mini_fb app, providing a header, nav, and footer
-->

<html>
    <head>
        <link rel="stylesheet" href={% static "mini_fb/styles.css"%}/>
        <title>mini_fb | JMA</title>
    </head>
    <body>
        <header>
            <h1><strong>Jose's Facebook</strong></h1>
            <p><em>Welcome to my mini facebook!</em></p>
        </header>
        <nav>
            <a href="{% url 'show_all_profiles' %}">Show all</a> 
        </nav>
        {% if request.user.is_authenticated %}
        
        <p>BALLS: {{request.user}}</p>
        {% if request.user.profile_set.first %}
        <a href="{{ request.user.profile_set.first.get_absolute_url }}" target="_blank">View Profile</a>
        {% else  %}
        <a href="{% url 'create_profile' %}">Create Profile</a> 
        {% endif %}

        <form action="{% url 'logout' %}" method="post" class="logout">
            {% csrf_token %}
            <button type="submit" class="logout">Logout</button>
        </form>
        {% else %}
        <p>NO BALLS</p>
        <a href="{% url 'login' %}">Login</a>
        {% endif %}

        {% block content %}
        {% endblock %}
        <footer>
            <p> All Rights Reserved by Jose Maria Amusategui Garcia Peri <a href="https://cheersapp.es/terms-conditions.html" target="_blank">Credits</a> &copy;</p>
        </footer>
    </body>
</html>