{% extends 'mini_fb/base.html' %}

<!--
File: mini_fb/create_profile_form.html
Author: Jose Maria Amusategui Garcia Peri (jmamus@bu.edu) 09/10/2024
Description: displays a form to create a new profile in the database
-->

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Username</p>
    {{ user_form.username }}
    <p>Password</p>
    {{ user_form.password1 }}
    <p>Confirm Password</p>
    {{ user_form.password2 }}
    <p>First Name</p>
    {{ form.first_name }}
    <p>Last Name</p>
    {{ form.last_name }}
    <p>City</p>
    {{ form.city }}
    <p>Email</p>
    {{ form.email_address }}
    <p>Image URL</p>
    {{ form.image_url }}

    <button type="submit">Create</button>
</form>
<form action="{% url 'show_all_profiles' %}">
    <button type="submit">Cancel</button>
</form>
<br>
{% endblock %}