{% extends 'quotes/base.html' %}

{% block content %}
    <h1>About</h1>
    <h2>Mark Knopfler</h2>
    <p>Mark Knopfler is one of the most famous guitarists of all time, known mostly for his work as the lead guitarist singer and songwriter for the group Dire Straits. He also went on to make music by himself outside of the band with a some notable songs such as Sailing to Philadelphia and Postcars from Paraguay</p>
    <h2>Website Author</h2>
    <p>My name is Jose Maria Amusategui Garcia Peri and I am a senior majoring in Computer Science at Boston University with a minor in Business Administration. I am originally from Madrid, Spain and I have been living in the United States for the past 4 years. I am very interested in technology a whole and I hope to be able to use my skills to help develop impactful software.</p>
{% endblock %}